$btn-color: rgb(125, 126, 156);
@mixin flexible-btn {
  display: flex;
  flex: 1;
  height: 4em;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 1.4em;
}
.button {
  @include flexible-btn;
  background-color: #e0e1e6;
  color: $btn-color;
  outline: 1px solid $btn-color;
}
.operator {
  background-color: #416dfe;
  color: #fff;
}
