$btn-color: rgb(125, 126, 156);
@mixin flexible-btn {
  display: flex;
  flex: 1;
  height: 4em;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 1.4em;
}
.input {
  @include flexible-btn;
  background-color: rgb(32, 159, 163);
  outline: 1px solid $btn-color;
  color: rgb(116, 238, 16);
  padding: 0.5em;
  font-weight: bold;
}
